a{
	text-decoration: none
}

.header {
	position: absolute;
	top:8px;
	left:50%;
	transform: translate(-50%,-0);
}
.head{
		width: 500px;
		/*height: 20%;*/
		/*background: black;*/
		margin-top: 20px;

}
.text_btm
{
	/*background: #4af3df;*/
	width: 700px;
	margin: auto;
	height: 200px;
	position: relative;
	margin-top:1182px;
	}

	.sig{
	margin: auto;
	width: 200px;
	/*background: #dac842;*/
	position: relative;
	top:70%;
	left:50%;
	transform: translate(-100%,-50%);
}

.box_sig{
	width: 700px;
	height: 150px;
	/*background: #42dac8;*/
	position: relative;
}

.links img{
	height: 20%;
	width: 24%;
}

.links {
  text-align: center;
  margin-top: 1px;
  position: absolute;
  }


  .cg_logo{
	width: 19%;
	/*background: #a0da42;*/
	margin: auto;
	margin-top: 20px;
}

footer{
	position: relative;
	text-align: center;
	padding:5px;
	padding-top: 40px;
/*	position: relative;*/
    margin-top: 560px;
    bottom: 0px;
	font-family: 'Alata', sans-serif;
	font-size: 14px;
}

.WPBUTTON{
	font-family: 'Alata', sans-serif;
	font-size: 20px;
	text-align: center;
	background: #00dafe;
	width: 350px;
	padding: 1px;
	margin-left: 50%;
	transform: translate(-50%,0);
	border-radius: 20px;
	margin-top: 5px;

}

.WPBUTTON:hover{
	background: #fe2400;
}

.WPBUTTON:active{
	background: #fe005b;
}

.Gallary{
	font-family: 'Alata', sans-serif;
	font-size: 14px;
	text-align: center;
	background: #fe005b;
	width: 350px;
	padding: 2px;
	margin-left: 50%;
	margin-top: 5px;
	transform: translate(-50%,0);
	border-radius: 20px;
}

.Gallary:hover {
	background: #fe2400;
}

.Gallary:active {
	background: #00dafe;
}

.MainText{
	width: 700px;
	margin: auto;
	height: 200px;
	margin-top: 200px;
	font-family: 'Alata', sans-serif;
	font-size: 16px;
	text-align: justify;
}